

.home {
  font-family: 'Manrope', sans-serif !important;
  background-image: url('../../imgs/background-1.png');
  background-position-y: -120px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.background-element {
  background-repeat: no-repeat;
  position: absolute;
}

.button-field {
  margin-top: 15px;
}

#logo {
  position: fixed;
  top: -30px;
  left: -30px;
}

@media (max-width: 992px) {

  #back01,
  #back02 {
    display: none;
  }
}