.alert-message-error {
    width: 100%;
    background-color: var(--primary-color3);
    color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.alert-component {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.alert-icon {
    font-size: 20px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.close-icon {
    position: relative;
    margin-bottom: 0px;
    width: 0px;
    height: 0px;
    left: 40%;
    top: 15px;
    color: white;
    transition: ease-out 100ms;
}

.close-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}