.modal-component {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 2;
}

.modal-content {
    display: flex;
    width: 550px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
}

.modal-header {
    background-color: rgb(241, 241, 241);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-title {
    margin-top: -15px !important;
}

.close-modal-icon {
    position: relative;
    top: 15px;
    left: 94%;
    opacity: 0.7;
    cursor: pointer;
}

.close-modal-icon {
    transition: ease-out 10ms;
}

.close-modal-icon:hover {
    opacity: 1;
    transform: scale(1.5);
}