.modal-component {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 2;
}

.modal-content {
    display: flex;
    max-width: 550px;
    min-width: 200px;
    min-height: 200px;
    max-height: 100vh;
    background-color: white;
    border-radius: 20px;

}

.modal-header {
    background-color: rgb(241, 241, 241);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-title {
    margin-top: -15px !important;
}

.close-modal-icon {
    position: relative;
    top: 30px;
    left: 90%;
    cursor: pointer;
    transition: ease-out 100ms;
    z-index: 1;
}

.close-modal-icon:hover {
    transform: scale(1.5);
}