@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Vazirmatn:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;600&family=Rubik:wght@300;400;500&display=swap');
:root {
  --primary-color1: #120078;
  --primary-color2: #9D0191;
  --primary-color3: #f73f52;
  --primary-color4: #FECD1A;
  --primary-gradient1: linear-gradient(212deg, rgba(13,0,123,1) 0%, rgba(247,63,82,1) 100%);
  --primary-gradient2: linear-gradient(212deg, rgba(13,0,123,1) 0%, rgba(247,63,82,1) 100%);
  --secondary-color1: #bc313f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
